# IDE & environment
.idea/
.vscode/
.ipynb_checkpoints/
__pycache__/
*.pyc
venv/
.env

# Local runtime data & checkpoints
temp/
checkpoints/
*.jar

# Docker volume binds
postgres/
redis/
pgadmin/*
!pgadmin/servers.json

# Ignore large downloaded datasets but keep sample
data/*
!data/OnlineRetail.csv